div.masina {
    position: relative;
    padding: 0; margin: 0;
    background: #ccc url('bg1v.png');
}
    div.masina button {
        width: 2.5em; height: 2.5em; position: absolute;
        padding: 0; border-radius: 50%;
        background: #f22;
        box-shadow: 0px 0px 0px 2px #000;
        border-width: 3px;
        color: black;
        font-size: inherit;
    }
    div.masina button:active {
        background: #e11;
    }
    div.masina button span {
        font-size: 0.8em;
        font-weight: bold;
    }
    div.masina input {
        width: 4em; height: 2em; position: absolute;
        padding: 0; font-size: 1em; background: none; border: none; line-height: 2em; text-align: center;
        margin: 0;
        font-weight: bold;
        color: black;
    }
    div.masina div#lampa {
        width: 2em; height: 2em; position: absolute;
        background: #666;
        border-radius: 50%;
        box-shadow: inset -0.5em -0.5em 1em 0.2em rgba(0, 0, 0, 0.3), 0px 0px 0px 0.05em #000, 0px 0px 0px 0.3em #eee, 0px 0px 0px 0.4em #000;
        line-height: 2em;
        color: #fff;
        top: 6.5em;
        left: 16.9em;
    }
    div.masina div#lampa.vilagit {
        background: #0f0;
        box-shadow: inset -0.5em -0.5em 1em 0.2em rgba(0, 0, 0, 0.3), 0px 0px 0px 0.05em #000, 0px 0px 0px 0.3em #8f8, 0px 0px 0px 0.4em #000, 0px 0px 48px 16px #0f0, 0px 0px 48px 16px #0f0;
    }
div.vilagitosor span:hover {
    color: #f00;
}
