table.bit td {
    padding: 0.15em;
}
table.bit tbody tr { background: none; }
table.bit span {
    margin: 0;
    display: inline-block;
    font-size: 1.25em;
    width: 1em; height: 1em;
    line-height: 1em; text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
}
    table.bit span.nulla {
        background-color: #d00;
    }
    table.bit span.egy {
        background-color: #4d4;
    }
    .doksibody table.bit span[onclick] {
        cursor: pointer;
    }
